* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Poppins;
}

.container {
  display: flex;
  margin-top: 10px;
}

.others {
  flex: 4;
  background-color: blue;
}

.homeWidgets {
  display: flex;
  margin: 20px;
}
